export(
    genSignal,
    gwasFast,
    prsInf,
    rConfInt,
    prsPlot
)

importFrom("stats",
    "rnorm", "qnorm", "rchisq", "pt")

importFrom("graphics",
    "plot", "polygon", "legend")
    
importFrom("grDevices",
    "col2rgb", "rgb");